<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UTZZA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/uploadForm.css">
    <script src="https://kit.fontawesome.com/b68de622cb.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<!-- Header -->
<header id="header">
    <div class="header-top">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png">
            </a>
        </div>
        <div class="search">
            <form action="/search" method="GET" th:action="@{/search}">
                <input class="search-bar form-control" type="text" placeholder="Search for images" name="q">
                <input class="search-btn form-control" type="submit" value="검색">
            </form>
        </div>

        <!-- 마이페이지 -->
        <ul class="member-menu" sec:authorize="isAnonymous()">
            <li><a href="login" th:href="@{/login}">로그인</a></li>
            <li><a href="join" th:href="@{/signUp}">회원가입</a></li>
        </ul>
        <ul class="member-menu" sec:authorize="isAuthenticated()">
            <li>
                <form th:action="@{/logout}" method="post">
                    <button class="logout-btn" type="submit">로그아웃</button>
                </form>
            </li>
            <li><a href="mypage">마이페이지</a></li>
        </ul>

        <a href="#" class="toggle-btn" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <ul class="main-menu">
        <li>
            <a class="categ-menu" href="">테마별 짤</a>
            <ul class="sub-menu">
                <li><a href="">무한도전</a></li>
                <li><a href="">정치·사회</a></li>
                <li><a href="">가수·연예인</a></li>
                <li><a href="">예능</a></li>
                <li><a href="">Meme</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="">상황별 짤</a>
            <ul class="sub-menu">
                <li><a href="">시험</a></li>
                <li><a href="">회사</a></li>
                <li><a href="">주식</a></li>
                <li><a href="">연애</a></li>
                <li><a href="">학교</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="/upload">짤 등록</a>
        </li>
        <li>
            <a class="categ-menu" href="/notice">게시판</a>
            <ul class="sub-menu">
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/board">자유게시판</a></li>
            </ul>
        </li>
    </ul>
</header>

<!-- main -->
<main id="main">
    <div class="container">
        <form class="upload-info" th:action method="post" enctype="multipart/form-data">
            <img src="/images/zzal.png" id="prevImage" class="prevImage">
            <input type="file" id="selectImg" name="file" class="selectImg">
            <ul>
                <li><input class="form-control" type="text" name="keyword"></li>
                <li><input class="form-control" type="text" name="keyword"></li>
                <li><input class="form-control" type="text" name="keyword"></li>
                <li><input class="form-control" type="text" name="keyword"></li>
                <li><input class="form-control" type="text" name="keyword"></li>
            </ul>
            <input class="upload-btn form-control" type="submit">
        </form>
    </div>
</main>

<script type="text/javascript">
    $("#selectImg").on("change", function(){
        readURL(this);
    })

    function readURL(input){
        if (input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#prevImage').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

</body>
</html>