<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTZZA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/board.css">
    <script src="https://kit.fontawesome.com/b68de622cb.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="header-top">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png">
            </a>
        </div>
        <div class="search">
            <form action="/search" method="GET" th:action="@{/search}">
                <input class="search-bar form-control" type="text" placeholder="Search for images" name="q">
                <input class="search-btn form-control" type="submit" value="검색">
            </form>
        </div>

        <!-- 마이페이지 -->
        <ul class="member-menu" sec:authorize="isAnonymous()">
            <li><a href="login" th:href="@{/login}">로그인</a></li>
            <li><a href="join" th:href="@{/signUp}">회원가입</a></li>
        </ul>
        <ul class="member-menu" sec:authorize="isAuthenticated()">
            <li>
                <form th:action="@{/logout}" method="post">
                    <button class="logout-btn" type="submit">로그아웃</button>
                </form>
            </li>
            <li><a th:href="@{/myPage}">마이페이지</a></li>
        </ul>

        <a href="#" class="toggle-btn" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <ul class="main-menu">
        <li>
            <a class="categ-menu" href="/theme?item=a01">테마별 짤</a>
            <ul class="sub-menu">
                <li><a href="/theme?item=a01">동물</a></li>
                <li><a href="/theme?item=a02">만화</a></li>
                <li><a href="/theme?item=a03">무한도전</a></li>
                <li><a href="/theme?item=a04">유명인·연예인</a></li>
                <li><a href="/theme?item=a05">Meme</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="/context?item=a01">상황별 짤</a>
            <ul class="sub-menu">
                <li><a href="/context?item=b01">기쁨</a></li>
                <li><a href="/context?item=b02">분노</a></li>
                <li><a href="/context?item=b03">슬픔</a></li>
                <li><a href="/context?item=b04">웃음</a></li>
                <li><a href="/context?item=b05">사랑</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="/upload">짤 등록</a>
        </li>
        <li>
            <a class="categ-menu" href="/notice">게시판</a>
            <ul class="sub-menu">
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/board">자유게시판</a></li>
            </ul>
        </li>
    </ul>
</header>

<!-- main -->
<main id="main">
    <div class="container">
        <aside class="side-menu">
            <h2>
                게시판
            </h2>
            <ul>
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/board"><strong>자유게시판</strong></a></li>
            </ul>
        </aside>
        <div class="content">

            <h3>
                자유게시판
            </h3>
            <hr>
            <div class="board-search">
                <form th:action="@{/board}" th:method="get" class="form-inline">
                    <fieldset>
                        <select class="form-control input-sm" name="field">
                            <option th:selected="${pageMaker.criteria.getField() eq 'title'}"  th:value="title">제목</option>
                            <option th:selected="${pageMaker.criteria.getField() eq 'writerId'}" th:value="writerId">작성자</option>
                        </select>
                        <input class="form-control input-sm" type="text" name="query" th:value="${pageMaker.criteria.getQuery()}">
                        <input class="form-control input-sm" type="submit" value="검색">
                    </fieldset>
                </form>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <td class="w60">번호</td>
                    <td>제목</td>
                    <td class="w100">작성자</td>
                    <td class="w100">작성일</td>
                    <td class="w60">조회수</td>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="board : ${list}">
                    <tr th:object="${board}">
                        <td th:text="*{id}">번호</td>
                        <td class="title">
                            <a th:text="*{title}"
                               th:href="@{/board/view(id=*{id}, page=${pageMaker.criteria.getPage()}, field=${pageMaker.criteria.getField()}, query=${pageMaker.criteria.getQuery()})}">제목</a>
                            <span style="color:#FF75A0;" th:text="|[*{replyCount}]|"></span>
                        </td>
                        <td th:text="*{writerId}"></td>
                        <td th:text="*{regDate}"></td>
                        <td th:text="*{hit}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <th:block sec:authorize="isAuthenticated()">
                <div class="write-btn">
                    <a th:href="@{/board/write}">글쓰기</a>
                </div>
            </th:block>

            <div class="indexer">
                <div><span th:text="${pageMaker.criteria.getPage() == 1? 1 : pageMaker.criteria.getPage()}">page</span> / <span th:text="${pageMaker.getEndPage()}"></span></div>
            </div>

            <div class="pager" th:object="${pageMaker}">
                <div class="nav-btn">
                    <a th:if="*{prev}" class="changePage"><code>&lt;</code></a>

                    <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                        <code th:if="${pageMaker.criteria.getPage == num}" th:text="${num}"></code>
                        <a class="changePage" th:unless="${pageMaker.criteria.getPage() == num}"
                           th:href="@{/board(page=${num}, field=${pageMaker.criteria.getField()}, query=${pageMaker.criteria.getQuery()})}">
                            <code th:text="${num}"></code>
                        </a>
                    </th:block>

                    <a th:if="*{next}" class="changePage"><code>&gt;</code></a>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
     var menu = document.querySelector(".main-menu");

     function toggleMenu(){
         menu.classList.toggle('active');
     }
    </script>

</body>
</html>