<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta charset="UTF-8">
    <title>UTZZA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/board-view.css">
    <script src="https://kit.fontawesome.com/b68de622cb.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="header-top">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png">
            </a>
        </div>
        <div class="search">
            <form action="/search" method="GET" th:action="@{/search}">
                <input class="search-bar form-control" type="text" placeholder="Search for images" name="q">
                <input class="search-btn form-control" type="submit" value="검색">
            </form>
        </div>

        <!-- 마이페이지 -->
        <ul class="member-menu" sec:authorize="isAnonymous()">
            <li><a href="login" th:href="@{/login}">로그인</a></li>
            <li><a href="join" th:href="@{/signUp}">회원가입</a></li>
        </ul>
        <ul class="member-menu" sec:authorize="isAuthenticated()">
            <li>
                <form th:action="@{/logout}" method="post">
                    <button class="logout-btn" type="submit">로그아웃</button>
                </form>
            </li>
            <li><a th:href="@{/myPage}">마이페이지</a></li>
        </ul>

        <a href="#" class="toggle-btn" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <ul class="main-menu">
        <li>
            <a class="categ-menu" href="/theme?item=a01">테마별 짤</a>
            <ul class="sub-menu">
                <li><a href="/theme?item=a01">동물</a></li>
                <li><a href="/theme?item=a02">만화</a></li>
                <li><a href="/theme?item=a03">무한도전</a></li>
                <li><a href="/theme?item=a04">유명인·연예인</a></li>
                <li><a href="/theme?item=a05">Meme</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="/context?item=b01">상황별 짤</a>
            <ul class="sub-menu">
                <li><a href="/context?item=b01">기쁨</a></li>
                <li><a href="/context?item=b02">분노</a></li>
                <li><a href="/context?item=b03">슬픔</a></li>
                <li><a href="/context?item=b04">웃음</a></li>
                <li><a href="/context?item=b05">사랑</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="/upload">짤 등록</a>
        </li>
        <li>
            <a class="categ-menu" href="/notice">게시판</a>
            <ul class="sub-menu">
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/board">자유게시판</a></li>
            </ul>
        </li>
    </ul>
</header>

<!-- main -->
<main id="main">
    <div class="container">
        <aside class="side-menu">
            <h2>
                게시판
            </h2>
            <ul>
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/board"><strong>자유게시판</strong></a></li>
            </ul>
        </aside>
        <!--          본문           -->
        <div class="content" th:object="${board}">
            <div class="sub-title">
                <div class="categ-name">
                    <span>자유게시판</span>
                </div>
                <th:block sec:authorize="isAuthenticated()">
                    <div class="b-fn" th:if="${board.writerId eq user?.name}">
                        <button class="b-edit" th:onclick="|location.href='@{/board/edit(id=*{id})}'|">수정</button>
                        <form method="post" th:action="@{/board/remove(id=*{id}, writerId=*{writerId})}">
                            <button class= "b-remove" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
                        </form>
                    </div>
                </th:block>
            </div>
            <div class="content-info">
                <strong class="title" th:text="*{title}"></strong>
                <div class="info-desc">
                    <span class="txt-item" th:text="*{writerId}"></span>
                    <span class="txt-item" th:text="*{#dates.format(regDate, 'yyyy-MM-dd HH:mm')}"></span>
                    <span class="txt-item" th:text="|조회 *{hit}|"></span> <span class="txt-item" th:text="|댓글 *{replyCount}|"></span>
                </div>
            </div>
            <div class="bbs-contents" th:utext="*{content}"></div>

            <div class="reply">
                <table><!-- 댓글 목록이 들어가는 곳 -->
                    <tbody id="tbody">
                    </tbody>
                </table>
                <form>
                    <input type="hidden" id="board-id" th:value="*{id}">
                    <input type="hidden" id="username" th:value="${user?.name}">
                </form>

                <div class="write-text" sec:authorize="isAuthenticated()">
                    <div class="text-box">
                        <textarea id="replytext" maxlength="300"></textarea>
                    </div>
                    <div class="reply-reg">
                        <button type="button" class="reg-btn">등록</button>
                    </div>
                </div>
            </div>

            <div class="nav-btn">
                <div class="area1">
                    <a th:href="@{/board(page=${param.page}, field=${param.field}, query=${param.query})} ">목록</a>
                </div>
                <div class="area2">
                    <a th:if="*{prevBid != 0}"
                       th:href="@{/board/view(id=*{prevBid}, page=${param.page}, field=${param.field}, query=${param.query})}">이전글</a>
                    <a th:if="*{nextBid != 0}"
                       th:href="@{/board/view(id=*{nextBid}, page=${param.page}, field=${param.field}, query=${param.query})}">다음글</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

	var rid = '';
	var mode = 'insert';

	function listReply() {
		var boardId = $("#board-id").val();
		$.ajax({
			type : "get",
			dataType: "json",
			url : "/reply/list",
			data : {
			    boardId : boardId
			},

			success : function(jsonArray) {
				var content = "";
				var replies = jsonArray;
				$.each(replies, function(index, r) {
					content += "<tr><td>"
							+ "<div class='top-area'><div class='r-writer'>" + r.writerId + "</div>";

					if($("#username").val() == r.writerId)
						content	+= "<div class='r-fn'><button type='button' class='r-update' onclick='updateClick(" + 'rid' + r.id + ")'><i class='far fa-edit'></i></button>"
								+ "<button type='button' class='r-delete' onclick='deleteClick(" + 'rid' + r.id + ")'><i class='far fa-trash-alt'></i></button></div>";

					content	+= "</div>" + "<div id='rid" + r.id + "' class='r-content'>"
							+ r.content + "</div>"
							+ "<div class='r-regDate'>" + r.regDate
							+ "</div></td></tr>";

				});
				$("#tbody").html(content);
			},
			error : function(request, status, error) {
				console.log("code:" + request.status + "\n"
						+ "message:" + request.responseText + "\n"
						+ "error:" + error);
			}
		});
	}

	function updateClick(replyId){
		mode = 'update';
		$("#replytext").val(replyId.textContent);
		var rid_ = replyId.id;
		rid = rid_.split('rid')[1];
	}

	function deleteClick(replyId){
		if (confirm("정말 삭제하시겠습니까?") == true){
			var rid_ = replyId.id;
			rid = rid_.split('rid')[1];
			var id = rid;
			$.ajax({
				type : "post",
				dataType: "text",
				url : "/reply/delete",
				data : {id : id},
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
				success : function(result) {
					listReply();
				}
			});
		}
		else{
		    return;
		}
	}

	$(function() {
		listReply();
		$(".reg-btn").on("click", function() {
			var content = $("#replytext").val();
			if(mode == 'insert'){
				var writerId = $("#username").val();
				var boardId = $("#board-id").val();
				$.ajax({
					type : "post",
					contentType: "application/json; charset=utf-8",
					dataType: "text",
					url : "/reply/insert",
					data : JSON.stringify({
					    content : content,
					    writerId : writerId,
					    boardId : boardId
					}),
					beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
					success : function(result) {
                        listReply();
                        $("#replytext").val("");
					}
				});
			}else if(mode == 'update'){
				var id = rid;
				$.ajax({
					type : "post",
					contentType: "application/json; charset=utf-8",
				    dataType: "text",
					url : "/reply/update",
					data : JSON.stringify({
                        id : id,
                        content : content
				    }),
				    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
					success : function(result) {
						listReply();
						$("#replytext").val("");
						mode = 'insert';
					}
				});
			}
		});
	});
</script>

<script>
     var menu = document.querySelector(".main-menu");

     function toggleMenu(){
         menu.classList.toggle('active');
     }
</script>

</body>
</html>