<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTZZA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/board-write.css">
    <script src="https://kit.fontawesome.com/b68de622cb.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="header-top">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png">
            </a>
        </div>
        <div class="search">
            <form action="/search" method="GET" th:action="@{/search}">
                <input class="search-bar form-control" type="text" placeholder="Search for images" name="q">
                <input class="search-btn form-control" type="submit" value="검색">
            </form>
        </div>

        <!-- 마이페이지 -->
        <ul class="member-menu" sec:authorize="isAnonymous()">
            <li><a href="login" th:href="@{/login}">로그인</a></li>
            <li><a href="join" th:href="@{/signUp}">회원가입</a></li>
        </ul>
        <ul class="member-menu" sec:authorize="isAuthenticated()">
            <li>
                <form th:action="@{/logout}" method="post">
                    <button class="logout-btn" type="submit">로그아웃</button>
                </form>
            </li>
            <li><a th:href="@{/myPage}">마이페이지</a></li>
        </ul>

        <a href="#" class="toggle-btn" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <ul class="main-menu">
        <li>
            <a class="categ-menu" href="/theme?item=a01">테마별 짤</a>
            <ul class="sub-menu">
                <li><a href="/theme?item=a01">동물</a></li>
                <li><a href="/theme?item=a02">만화</a></li>
                <li><a href="/theme?item=a03">무한도전</a></li>
                <li><a href="/theme?item=a04">유명인·연예인</a></li>
                <li><a href="/theme?item=a05">Meme</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="/context?item=b01">상황별 짤</a>
            <ul class="sub-menu">
                <li><a href="/context?item=b01">기쁨</a></li>
                <li><a href="/context?item=b02">분노</a></li>
                <li><a href="/context?item=b03">슬픔</a></li>
                <li><a href="/context?item=b04">웃음</a></li>
                <li><a href="/context?item=b05">사랑</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="/upload">짤 등록</a>
        </li>
        <li>
            <a class="categ-menu" href="/notice">게시판</a>
            <ul class="sub-menu">
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/board">자유게시판</a></li>
            </ul>
        </li>
    </ul>
</header>

<!-- main -->
<main id="main">
    <div class="container">
        <aside class="side-menu">
            <h2>
                게시판
            </h2>
            <ul>
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/board"><strong>자유게시판</strong></a></li>
            </ul>
        </aside>

        <!--          본문           -->
        <div class="write-box">
            <form method="post" th:action="@{/board/write}">
                <input type="hidden" name="writerId" th:value="${user.name}">
                <div class="title-box">
                    <input type="text" class="title" name="title" placeholder="제목을 입력하세요.">
                </div>
                <div class="file-box">
                    <input type="file" name="files">
                </div>
                <div class="content-box">
                    <textarea name="content" class="content"></textarea>
                </div>
                <div class="btn-area">
                    <button type="button" onclick="history.back(-1);">취소</button>
                    <button type="submit" onclick="return confirm('정말 등록하시겠습니까?');">등록</button>
                </div>
            </form>
        </div>

    </div>
</main>

<script>
     var menu = document.querySelector(".main-menu");

     function toggleMenu(){
         menu.classList.toggle('active');
     }
</script>

</body>
</html>