<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oiji.springweb.mapper.BoardMapper">

    <select id="getBoardList" parameterType="com.oiji.springweb.paging.Criteria" resultType="com.oiji.springweb.dto.article.Board">
        SELECT A.ID, A.TITLE, A.WRITERID, A.CONTENT, A.REGDATE, A.HIT, A.FILES,
        (SELECT COUNT(B.ID) FROM REPLY B WHERE A.ID = B.BOARDID)REPLYCOUNT
        FROM (SELECT * FROM BOARD WHERE ${field} LIKE CONCAT('%',#{query},'%') ORDER BY REGDATE DESC
        LIMIT #{rowNum}, #{records})A
    </select>

    <select id="getBoardById" resultType="com.oiji.springweb.dto.article.Board">
        SELECT A.*, (SELECT COUNT(id) FROM reply WHERE boardid = #{id})replycount FROM
        (SELECT B.*,
        (SELECT id FROM board WHERE id &lt; #{id} ORDER BY id DESC LIMIT 1)prevbid,
        (SELECT id FROM board WHERE id &gt; #{id} ORDER BY id DESC LIMIT 1)nextbid
        FROM (SELECT * FROM board WHERE ${criteria.field} LIKE CONCAT('%',#{criteria.query},'%') ORDER BY regdate DESC)B WHERE B.id = #{id})A
    </select>

    <select id="getBoardCount" parameterType="com.oiji.springweb.paging.Criteria" resultType="int">
        SELECT COUNT(B.ID) COUNT FROM (SELECT * FROM BOARD WHERE
        ${field} LIKE CONCAT('%',#{query},'%') ORDER BY REGDATE DESC)B
    </select>

    <insert id="addBoard" parameterType="com.oiji.springweb.dto.article.Board">
        INSERT INTO BOARD(TITLE, WRITERID, CONTENT) VALUES(#{title}, #{writerId}, #{content})
    </insert>

    <update id="editBoard" parameterType="com.oiji.springweb.dto.article.Board">
        UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content} WHERE ID = #{id}
    </update>

    <delete id="removeBoard" parameterType="int">
        DELETE FROM BOARD WHERE ID = #{id}
    </delete>

    <update id="updateBoardHit" parameterType="int">
        UPDATE BOARD SET HIT=HIT+1 WHERE ID = #{id}
    </update>
</mapper>