<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oiji.springweb.mapper.ImageMapper">

    <insert id="insertImage">
        <selectKey keyProperty="id"  resultType="int" order="BEFORE">
            SELECT IMAGE_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO IMAGE
            (
                ID,
                TITLE,
                IMGPATH,
                HIT,
                THEME,
                CONTEXT)
        VALUES(
                #{id},
                #{title},
                #{imgPath},
                0,
                #{theme, jdbcType=VARCHAR},
                #{context, jdbcType=VARCHAR})
    </insert>

    <update id="updateImageHit">
        UPDATE IMAGE SET HIT=HIT+1 WHERE ID = #{id}
    </update>
</mapper>