<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oiji.springweb.mapper.ImageMapper">

    <select id="getImageList" resultType="com.oiji.springweb.entity.ImageEntity">
        SELECT A.ID, A.TITLE, A.IMGPATH, A.HIT FROM (SELECT * FROM IMAGE WHERE TITLE LIKE CONCAT('%',#{query},'%') ORDER BY HIT DESC LIMIT #{start}, 32)A
    </select>

    <select id="getImageListByTheme" resultType="com.oiji.springweb.entity.ImageEntity">
        SELECT A.ID, A.TITLE, A.IMGPATH, A.HIT FROM (SELECT * FROM IMAGE WHERE THEME = #{theme} ORDER BY HIT DESC LIMIT #{start}, 32)A
    </select>

    <select id="getImageListByContext" resultType="com.oiji.springweb.entity.ImageEntity">
        SELECT A.ID, A.TITLE, A.IMGPATH, A.HIT FROM (SELECT * FROM IMAGE WHERE WHERE CONTEXT = #{context} ORDER BY HIT DESC LIMIT #{start}, 32)A
    </select>

    <select id="getImageById" resultType="com.oiji.springweb.entity.ImageEntity">
        SELECT ID, TITLE, IMGPATH, HIT FROM IMAGE WHERE ID = #{id}
    </select>

    <insert id="insertImage">
        INSERT INTO IMAGE
            (
                TITLE,
                IMGPATH,
                HIT,
                THEME,
                CONTEXT)
        VALUES(
                #{title},
                #{imgPath},
                0,
                #{theme},
                #{context})
    </insert>

    <update id="updateImageHit">
        UPDATE IMAGE SET HIT=HIT+1 WHERE ID = #{id}
    </update>
</mapper>