<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oiji.springweb.mapper.NoticeMapper">
    <select id="getNoticeList" parameterType="com.oiji.springweb.paging.Criteria" resultType="com.oiji.springweb.dto.article.Notice">
        SELECT A.ID, A.TITLE, A.WRITERID, A.CONTENT, A.REGDATE, A.HIT, A.FILES
        FROM (SELECT * FROM NOTICE WHERE ${field} LIKE CONCAT('%',#{query},'%') ORDER BY REGDATE DESC
        LIMIT #{rowNum}, #{records})A
    </select>

    <select id="getNoticeById" resultType="com.oiji.springweb.dto.article.Notice">
        SELECT N.*,
        (SELECT id FROM notice WHERE id &lt; #{id} ORDER BY id DESC LIMIT 1)prevnid,
        (SELECT id FROM notice WHERE id &gt; #{id} ORDER BY id ASC LIMIT 1)nextnid
        FROM (SELECT * FROM notice WHERE ${criteria.field} LIKE CONCAT('%',#{criteria.query},'%')
        ORDER BY regdate DESC)N WHERE N.id = #{id}
    </select>

    <select id="getNoticeCount" parameterType="com.oiji.springweb.paging.Criteria" resultType="int">
        SELECT COUNT(N.ID) COUNT FROM (SELECT * FROM notice WHERE
        ${field} LIKE CONCAT('%',#{query},'%') ORDER BY REGDATE DESC)N
    </select>

    <insert id="addNotice" parameterType="com.oiji.springweb.dto.article.Notice">
        INSERT INTO NOTICE(TITLE, WRITERID, CONTENT) VALUES(#{title}, #{writerId}, #{content})
    </insert>

    <update id="editNotice" parameterType="com.oiji.springweb.dto.article.Notice">
        UPDATE NOTICE SET TITLE = #{title}, CONTENT = #{content} WHERE ID = #{id}
    </update>

    <delete id="removeNotice" parameterType="int">
        DELETE FROM NOTICE WHERE ID = #{id}
    </delete>

    <update id="updateNoticeHit" parameterType="int">
        UPDATE NOTICE SET HIT=HIT+1 WHERE ID = #{id}
    </update>
</mapper>