<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oiji.springweb.mapper.NoticeMapper">
    <resultMap id="getNoticeListResult" type="com.oiji.springweb.dto.article.Notice" >
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="writerId" column="writerId" />
        <result property="content" column="content" jdbcType="CLOB" javaType="java.lang.String" />
        <result property="regDate" column="regDate" />
        <result property="hit" column="hit" />
        <result property="files" column="files" />
    </resultMap>

    <select id="getNoticeList" parameterType="com.oiji.springweb.paging.Criteria" resultMap="getNoticeListResult">
        SELECT ID, TITLE, WRITERID, CONTENT, REGDATE, HIT, FILES
        FROM (SELECT ROWNUM NUM, N.* FROM (SELECT * FROM NOTICE WHERE ${field}
        LIKE '%'|| #{query} ||'%' ORDER BY REGDATE DESC)N)
        WHERE NUM BETWEEN (#{page} - 1) * #{records} + 1 AND #{page} * #{records}
    </select>

    <resultMap id="getNoticeResult" type="com.oiji.springweb.dto.article.Notice" >
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="writerId" column="writerId" />
        <result property="content" column="content" jdbcType="CLOB" javaType="java.lang.String" />
        <result property="regDate" column="regDate" />
        <result property="hit" column="hit" />
        <result property="files" column="files" />
        <result property="prevNid" column="prevNid" />
        <result property="nextNid" column="nextNid" />
    </resultMap>

    <select id="getNoticeById" parameterType="int" resultMap="getNoticeResult">
        SELECT N.ID, N.TITLE, N.WRITERID, N.CONTENT, N.REGDATE, N.HIT, N.FILES, N.PREVNID, N.NEXTNID FROM
        (SELECT ID, TITLE, WRITERID, CONTENT, REGDATE, HIT, FILES,
        LEAD(ID, 1, 0) OVER (ORDER BY ID DESC) AS PREVNID,
        LAG(ID, 1, 0) OVER (ORDER BY ID DESC) AS NEXTNID
        FROM NOTICE)N WHERE N.ID = #{id}
    </select>

    <select id="getNoticeCount" parameterType="com.oiji.springweb.paging.Criteria" resultType="int">
        SELECT COUNT(ID) COUNT FROM (SELECT ROWNUM NUM, N.* FROM (SELECT * FROM NOTICE WHERE
        ${field} LIKE '%'|| #{query} ||'%' ORDER BY REGDATE DESC)N)
    </select>
</mapper>