<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTZZA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/loginForm.css">
    <script src="https://kit.fontawesome.com/b68de622cb.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Header -->
<header id="header">
    <div class="header-top">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png">
            </a>
        </div>
        <div class="search">
            <form action="/search" method="GET" th:action="@{/search}">
                <input class="search-bar form-control" type="text" placeholder="Search for images" name="q">
                <input class="search-btn form-control" type="submit" value="검색">
            </form>
        </div>
        <!-- 마이페이지 -->
        <ul class="member-menu">
            <li><a th:href="@{/login}">로그인</a></li>
            <li><a th:href="@{/signUp}">회원가입</a></li>
        </ul>
        <a href="#" class="toggle-btn" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <ul class="main-menu">
        <li>
            <a class="categ-menu" href="/theme?item=a01">테마별 짤</a>
            <ul class="sub-menu">
                <li><a href="/theme?item=a01">동물</a></li>
                <li><a href="/theme?item=a02">만화</a></li>
                <li><a href="/theme?item=a03">무한도전</a></li>
                <li><a href="/theme?item=a04">유명인·연예인</a></li>
                <li><a href="/theme?item=a05">Meme</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="/context?item=b01">상황별 짤</a>
            <ul class="sub-menu">
                <li><a href="/context?item=b01">기쁨</a></li>
                <li><a href="/context?item=b02">분노</a></li>
                <li><a href="/context?item=b03">슬픔</a></li>
                <li><a href="/context?item=b04">웃음</a></li>
                <li><a href="/context?item=b05">사랑</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="/upload">짤 등록</a>
        </li>
        <li>
            <a class="categ-menu" href="/notice">게시판</a>
            <ul class="sub-menu">
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/board">자유게시판</a></li>
            </ul>
        </li>
    </ul>
</header>
<main id="main">
    <div class="container">
        <h1>
            <a href="index">UTZZA</a>
        </h1>
        <form method="post" th:action="@{/login}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <p>
                <input type="text" name="username" id="loginId" th:value="${username}" placeholder="아이디">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="비밀번호" >
            </p>
            <p class="login-remember">
                <input type="checkbox" name="remember-me" id="remember-me">
                <label class="save-lb" for="remember-me">로그인 상태 유지</label>
            </p>
            <p th:if="${errorMessage} != null">
                <div class="field-error" th:text="${errorMessage}"></div>
            </p>
            <input class="login-btn" type="submit" value="로그인">

        </form>
    </div>
</main>
<script>
     var menu = document.querySelector(".main-menu");

     function toggleMenu(){
         menu.classList.toggle('active');
     }
</script>
</body>
</html>
