@import url('reset.css');

:root{
	--text-color: #1f1e30;
    --background-color: #f8f5fa;
    --accent-color: #50606f;
    --light-accent-color: #A6A198;
    --bright-color: #c4e1ff;
    --yellow-color: #FCE38A;
    --error-color: #ff003e;
}

@font-face{
	font-family:noto;
    src:local(※), url(NotoSansKR-Regular.otf) format(‘otf’);
}

body{
	overflow-y: scroll;
    background: var(--background-color);
	font-family: 'Noto Sans KR', sans-serif, noto;
}

#header{
    width: 1100px;
    margin: 0 auto;
}

#header .header-top{
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    color: var(--accent-color);
}

#header .header-top .logo{
    position: relative;
    width: 130px;
    text-align: left;
}

#header .header-top .logo img{
	height: 60px;
}

#header .header-top .search {
    position: relative;
    margin: 0 auto;
}

#header .header-top .search .search-bar{
    height: 50px;
    width: 700px;
    padding-left: 10px;
    font-size: 18px;
    float: left;
    color: var(--accent-color);
    border-radius: 0.1em;
}

#header .header-top .search .search-bar:focus{
	outline: none;
	box-shadow: none;
}

#header .header-top .search .search-btn{
	height: 50px;
    width: 60px;
    font-size: 15px;
    float: left;
    cursor: pointer;
    background: var(--bright-color);
    color: var(--text-color);
    border-radius: 0.1em;
}

#header .header-top .member-menu{
    display: flex;
    margin-right: 10px;
    height: 100%;
}

#header .header-top .member-menu li{
    margin: 0 10px;
}

#header .header-top .member-menu li .logout-btn{
    background: inherit;
    border: none;
}

#header .header-top .toggle-btn{
	font-size: 30px;
	color: var(--accent-color);
	display: none;
}

#header .main-menu{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;
    padding: 5px 0;
    background: var(--accent-color);
    height: 32px;
}

#header .main-menu li .categ-menu{
    font-size: 16px;
    color: white;;
    padding: 15px 10px;
}


#header .main-menu li:hover .categ-menu{
    color: var(--background-color);
}

#header .main-menu li .sub-menu{
    display: none;
    position: absolute;
    top: 32px;
    width: 170px;
    background: white;
    border: 1px solid var(--light-accent-color);
    z-index: 1;
}

#header .main-menu li:hover .sub-menu{
    display: block;
}

#header .main-menu li .sub-menu li a{
    display: block;
    padding: 10px;
}

#header .main-menu li .sub-menu li:hover{
    background: var(--yellow-color);
}

/* main 영역 */
#main {
    position: relative;
    top: 60px;
    width: 100%;
}

#main .container{
    position: relative;
}

#main .container h2{
    margin-left: 20px;
    --margin-bottom: 20px;
    color: var(--text-color);
    font-size: 24px;
}

#main .container .row{
	margin: 0;
}

#main .container .content{
	position: relative;
	text-align: center;
	white-space: nowrap;
}

#main .container .content>a{
    display: block;
    position: relative;
    height: 220px;
    width: 220px;
    overflow: hidden;
    border-radius: 1rem;
    margin: 10px auto;
}

#main .container .content img {
    height: 220px;
    width: 220px;
    object-fit: cover;
}

#main .container .content .keyword{
	display: flex;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	overflow: hidden;
	font-size: 15px;
}

#main .container .content .keyword a{
	margin-left: 4px;
	padding: 2px;
	color: white;
	background: var(--light-accent-color);
	border-radius: 0.5rem;
}

#main .container .content .keyword a:hover{
	background: white;
	color: var(--light-accent-color);
}

#main .container .next-page{
	position: relative;
	display: flex;
	align-items: center;
	border: 1px solid #bbbbbb;
	width: 90%;
	height: 40px;
	margin: 20px auto;
}

#main .container .next-page .more-text{
	position: relative;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
	#header {
		width: 970px;
	}

	#header .header-top .search .search-bar{
	    width: 600px;
	}
}

@media screen and (max-width: 992px) {
	#header {
		width: 800px;
	}

	#header .header-top .search .search-bar{
	    width: 500px;
	}

	#header .header-top .member-menu{
		display: none;
	}

	#header .header-top .toggle-btn{
		display: block;
	}

	#header .main-menu{
		display: none;
		width: 200px;
	}

	#header .main-menu.active{
        display: block;
    }
}