<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTZZA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/loginForm.css">
    <script src="https://kit.fontawesome.com/b68de622cb.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Header -->
<header id="header">
    <div class="header-top">
        <div class="logo">
            <a href="index">
<!--                <img src="/images/logo.png">-->
            </a>
        </div>
        <div class="search">
            <form action="results" method="GET">
                <input class="search-bar form-control" type="text" placeholder="Search images" name="q">
                <input class="search-btn form-control" type="submit" value="검색">
            </form>
        </div>
        <!-- 마이페이지 -->
        <ul class="member-menu">
            <li><a href="login">로그인</a></li>
            <li><a href="join">회원가입</a></li>
        </ul>
        <a href="#" class="toggle-btn" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <ul class="main-menu">
        <li>
            <a class="categ-menu" href="">테마별 짤</a>
            <ul class="sub-menu">
                <li><a href="">무한도전</a></li>
                <li><a href="">정치·사회</a></li>
                <li><a href="">가수·연예인</a></li>
                <li><a href="">예능</a></li>
                <li><a href="">Meme</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="">상황별 짤</a>
            <ul class="sub-menu">
                <li><a href="">시험</a></li>
                <li><a href="">회사</a></li>
                <li><a href="">주식</a></li>
                <li><a href="">연애</a></li>
                <li><a href="">학교</a></li>
            </ul>
        </li>
        <li>
            <a class="categ-menu" href="">짤 등록</a>
        </li>
        <li>
            <a class="categ-menu" href="">짤 만들기</a>
        </li>
        <li>
            <a class="categ-menu" href="./notice">게시판</a>
            <ul class="sub-menu">
                <li><a href="./notice">공지사항</a></li>
                <li><a href="./board">자유게시판</a></li>
            </ul>
        </li>
    </ul>
</header>
<main id="main">
    <div class="container">
        <h1>
            <a href="index">UTZZA</a>
        </h1>
        <form method="post" th:action>
            <p>
                <input type="text" name="loginId" id="user-id" placeholder="아이디">
            </p>
            <p>
                <input type="password" name="password" id="user-pw" placeholder="비밀번호" >
            </p>
            <p>
                <input type="checkbox" name="" id="save-check">
                <label class="save-lb" for="save-check">아이디 저장</label>
            </p>
            <input class="login-btn" type="submit" value="로그인">
        </form>
    </div>
</main>
</body>
</html>